:root{
  --cell-width: 100px;
}

.App{
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
}

.wrapper{
  min-height: 100vh;
  // margin: 10px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}